body {
  background-color: #034;
  color: #fff;
  font-size: 16px;
}

#msgform {
  position: absolute;
  height: 50px;
  margin: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#msgform input {
  width: 100%;
  height: 50px;
  line-height: 40px;
  border: 3px solid #50556e;
  background-color: #1c1b2c;
  font-size: 20px;
  padding-left: 5px;
}
#msgform input:focus {
  outline: none;
  border-color: #939ed1;
}

#users {
  position: absolute;
  width: 300px;
  top: 15px;
  right: 0;
}
#users h2 {
  font-size: 20px;
}
#users ul {
  padding-left: 15px;
}
